@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: #e3e2df;
    color: #5d001e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: #e3e2df;
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 80px;
    text-shadow: 2px 2px #ee4c7c;
    letter-spacing: 3px;
}

input:not([type='text']) {
    margin: 5px 0 15px 0;
}

main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

main .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 640px;
}

main .options {
    padding: 30px;
    background-color: #ccc;
    box-shadow: 0px 0px 2px #5d001e;
    border-radius: 5px;
}

form #squares {
    margin-right: 5px;
    accent-color: #5d001e;
}

form .rows,
form .columns {
    width: 35px;
    height: 25px;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    background-color: #e3e2df;
    color: #5d001e;
    border: none;
    text-align: center;
}

form .rows::selection,
form .columns::selection {
    background-color: #e3e2df;
}

form span {
    margin: 0 5px;
}

.modes {
    padding: 15px;
    border: 1px solid #5d001e;
    border-radius: 5px;
}

.modes legend {
    padding: 0 3px;
}

.modes .normal,
.modes .shading,
.modes .colorful {
    display: flex;
    align-items: center;
}

.modes .shading {
    margin: 15px 0;
}

.modes input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 20px;
    height: 20px;
    background-color: #e3e2df;
    accent-color: #5d001e;
    margin: 0 5px 0 0;
    border: 1px solid #5d001e;
    border-radius: 3px;
}

.clear {
    display: flex;
    margin-top: 15px;
}

.clear button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    flex-grow: 1;
    background-color: #e3e2df;
    color: #5d001e;
    padding: 10px 30px;
    border: 1px solid #5d001e;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.clear button:hover {
    background-color: #5d001e;
    color: #e3e2df;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    background-color: #5d001e;
    color: #e3e2df;
    padding: 15px;
    border-radius: 5px;
}

footer .author {
    margin-bottom: 5px;
}

footer a:hover {
    text-decoration: none;
}

.grid {
    display: grid;
    width: 640px;
    height: 640px;
    background-color: #fff;
    box-shadow: 0px 0px 2px #5d001e;
    border-radius: 2px;
}

.grid .square {
    transition: all 0.5s ease;
}